.jumbotron {
  padding: 2rem;
  background-color: #bee6ee;
}

.container .row {
  padding: 2rem;
}

.copyright {
  padding-top: 4px;
}

.game1user {
  padding: 25px;
  background-color: #bee6ee;
}

.judul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
