/* index */
.jumbotron {
  padding: 2rem;
  background-color: #bee6ee;
}

.container .row {
  padding: 2rem;
}

.copyright {
  padding-top: 4px;
}

.judul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.link {
  border-radius: 0px 0px 50px 50px;
}

/* game1 */
.game1user {
  padding: 25px;
  background-color: #bee6ee;
  border-radius: 50px 50px 0px 0px;
}

.game1comp {
  padding: 25px;
  background-color: #bee6ee;
}

.game1hasil {
  padding: 25px;
  background-color: #bee6ee;
  border-radius: 0px 0px 50px 50px;
}

/* profile */
.profileatas {
  margin: auto;
  width: 35rem;
  height: 35rem;
  background-color: #bee6ee;
  border-radius: 100%;
}

.profileatas .profileatasin {
  margin-top: 4rem;
}

.profilebawah {
  background-color: #bee6ee;
  border-radius: 50px 50px 50px 50px;
  margin-left: 21rem;
  margin-right: 21rem;
}
