/* index */
.jumbotron {
  padding: 2rem;
  background-color: #bee6ee;
}

.container .row {
  padding: 2rem;
}

.copyright {
  padding-top: 4px;
}

.judul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* game1 */
.game1user {
  padding: 25px;
  background-color: #bee6ee;
  border-radius: 50px 50px 0px 0px;
}

.game1comp {
  padding: 25px;
  background-color: #bee6ee;
}

.hasil {
  padding: 25px;
  background-color: #bee6ee;
  border-radius: 0px 0px 50px 50px;
}
